.status {
    display: flex;
    width: 80%;
    height: 30%;
    border-radius: 30px;
    background-color: rgba(168, 168, 168, 0.305);
    border: 1px solid #000000;;
}
.status-text {
    padding: 3%;
    width: 90%;
    display: flex;
    color: #000000;
    font-size: 24px;
    justify-content: flex-start;
    color: #ffffff;
}