<div class="register-header">
    <img src="/logo_el_primo.svg" alt="Aqui deberia aparecer la imagen">
    <h2>Mechanical workshop</h2>
    <h2 class="return" routerLink="/">Regresar</h2>
</div>
<div class="register-form" [formGroup]="registerForm" >
    <h2 class="title">Register</h2>
    <div class="field">
        <input type="text" placeholder="fullname" formControlName="fullName">
    </div>
    <div class="field">
        <input type="text" placeholder="username" formControlName="username">
    </div>
    <div class="field">
        <input type="text" placeholder="password" formControlName="password">
    </div>
    <div class="btn-submit" (click)="sendRegister()">
        <img src="./assets/user_icon_white.svg" alt="User icon">
        <p>Register</p>
    </div>
    <h3 class="account" routerLink="/login">You already have an account, log in here.</h3>
</div>